body {
    overflow: hidden;
}
/*顶部内容和帮助*/
.TitleBar {
    color: #fff;
    background-color: #346a95;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    line-height: 38px;
    margin: 0 0 10px 0;
}

    .TitleBar > .Title {
        top: 0;
        height: 36px;
        left: 10px;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        width: 97%;
    }

.collection {
    background-image: url(../img/collection.png);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 38px;
    top: 10px;
    width: 16px;
}

.text2 {
    margin-left: 5px;
}

.help {
    background-image: url(../img/help.png);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    border-radius: 50%;
}
/*按钮部分*/
.ButtonContainer {
    padding: 0 10px 10px 10px;
    width: auto;
    height: 26px;
}

    .ButtonContainer ul li .Button {
        margin-right: 5px;
        vertical-align: top;
    }

li.Button {
    -ms-flex-align: center;
    align-items: center;
    background: #f0f0f0;
    background: -moz-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -webkit-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -ms-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: linear-gradient(to bottom,#fbfbfb 0,#f0f0f0 100%);
    border: 1px solid #d7d7d7;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #4f4f4f;
    cursor: pointer;
    height: 24px;
    padding: 0 3px;
    position: relative;
    text-decoration: none;
}

.Button > .Icon {
    display: inline-block;
    flex: 0 0 auto;
    height: 16px;
    margin: 0 3px;
    width: 16px;
}

.SaveAndClone {
    background-image: url("../img/save.png");
}

.Save {
    background-image: url("../img/save.png");
}

.ViewPdf {
    background-image: url("../img/view.png");
}

.EditProperties {
    background-image: url("../img/edit.png");
}

.EditAppendix {
    background-image: url("../img/book.png");
}

.CancelButton {
    background-image: url("../img/cancel.png");
}

.Button > .Text {
    flex: 0 1 auto;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    padding: 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*主体*/
.TabBar {
    border-bottom: solid 1px #adadad;
    font-size: 0;
    margin: 0 0 10px 0;
    padding: 0 0 0 5px;
}
.TabBar a.Button.SelectedState {
    background: #fff;
    border-color: #adadad;
    border-bottom-color: #fff;
}
.TabBar a.Button {
    background: #eaeaea;
    border: solid 1px #dfdfdf;
    border-bottom-color: #adadad;
    color: #858585;
    height: 24px;
    padding: 0;
    margin: 0 0 -1px 5px;
    width:100px;
}
a.Button {
    -ms-flex-align: center;
    align-items: center;
    background: #f0f0f0;
    background: -moz-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -webkit-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -ms-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: linear-gradient(to bottom,#fbfbfb 0,#f0f0f0 100%);
    border: 1px solid #d7d7d7;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #4f4f4f;
    cursor: pointer;
    height: 24px;
    padding: 0 3px;
    position: relative;
    text-decoration: none;
}
.TabBar a.Button span.Text {
    padding: 0 6px 0 6px;
    margin: 0 auto;
}
a.Button>.Text {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    padding: 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ScrollingContainer.Active {
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    right: 0;
}
.ScrollingContainer {
    padding: 0 10px 0 10px;
}
.TabContainer {
    display: none;
}
.TabContainer.Active {
    display: block;
}
.ButtonContainer {
    padding: 0 10px 10px 10px;
    width: auto;
    height: 26px;
}
.ScrollingContainer>.TabContainer>.ButtonContainer {
    padding-left: 0;
}
.ScrollingContainer>.TabContainer>.ButtonContainer>.Button:hover{
    background: #fff;
    border-color: #adadad;
}
.Section {
    border: 1px solid #d3d3d3;
    margin: 0 0 12px 0;
    padding: 4px 0 4px 0;
    width: 836px;
}
.Section.Collapsed {
    background: #efefef;
    background: -moz-linear-gradient(top,#f4f4f4 0,#efefef 100%);
    background: -webkit-linear-gradient(top,#f4f4f4 0,#efefef 100%);
    background: -ms-linear-gradient(top,#f4f4f4 0,#efefef 100%);
    background: linear-gradient(to bottom,#f4f4f4 0,#efefef 100%);
    padding: 6px 0 6px 0;
}

.Section>.Heading {
    overflow: hidden;
    padding: 2px 4px 8px 6px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Section.Collapsed>.Heading {
    padding-bottom: 0;
    padding-top: 0;
}
.Section>.Heading>.Toggle {
    background: #d7d7d7;
    background: -moz-linear-gradient(top,#fff 0,#d7d7d7 100%);
    background: -webkit-linear-gradient(top,#fff 0,#d7d7d7 100%);
    background: -ms-linear-gradient(top,#fff 0,#d7d7d7 100%);
    background: linear-gradient(to bottom,#fff 0,#d7d7d7 100%);
    border: 1px solid #c6c6c6;
    cursor: pointer;
    height: 14px;
    margin: 0 6px 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 14px;
}
.Section>.Heading>div, .Section>.Heading>span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.Section>.Heading>.Toggle>.Vertical {
    background-color: #888;
    height: 8px;
    left: 6px;
    position: absolute;
    top: 3px;
    width: 2px;
}
.Section>.Heading>.Toggle>.Horizontal {
    background-color: #888;
    height: 2px;
    left: 3px;
    position: absolute;
    top: 6px;
    width: 8px;
}
.Section>.Heading>.Text {
    color: #666;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    text-transform: uppercase;
    cursor:pointer;
}
.Section.Collapsed>.DescriptionText, .Section.Collapsed>.Content {
    display: none;
}
.Section>.Content {
    padding-top: 12px;
}
.Section>.DescriptionText, .Section>.Content {
    padding-left: 28px;
    padding-right: 28px;
}
.Section .Column.Large, .Section .Column.Large>.Editor, .Section .Column.Large>.CheckBoxGroupContainer>.Editor, .Section .Column.Large>.RadioButtonGroupContainer>.Editor {
    width: 780px;
}
.Column, .ReplaceableColumnContainer {
    display: inline-block;
    vertical-align: top;
}
.Section>.Content .PageNavigationLinkGroup {
    padding-bottom: 11px;
    overflow: hidden;
}
.Section>.Content .PageNavigationLinkGroup .PageNavigationLinkColumn {
    display: inline-block;
    vertical-align: top;
    width: 390px;
    float: left;
}
.Section>.Content .PageNavigationLinkGroup .PageNavigationLink {
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 30px;
}
.Section>.Content .PageNavigationLink a.Button.Link {
    display: inline;
    margin-bottom: 0;
    font-weight: 700;
}
a.Button.Link {
    background: none;
    border: none;
    color: #376597;
    display: inline;
    font-size: 12px;
    height: auto;
    padding: 0;
    vertical-align: inherit;
}
a.Button {
    -ms-flex-align: center;
    align-items: center;
    background: #f0f0f0;
    background: -moz-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -webkit-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -ms-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: linear-gradient(to bottom,#fbfbfb 0,#f0f0f0 100%);
    border: 1px solid #d7d7d7;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #4f4f4f;
    cursor: pointer;
    height: 24px;
    padding: 0 3px;
    position: relative;
    text-decoration: none;
}
.Section>.Content .PageNavigationLink .StandardText {
    color: #666;
}
.Section .StandardText {
    padding-bottom: 7px;
}
.StandardText {
    font-size: 12px;
    line-height: 16px;
}
.Section>.Content .PageNavigationLinkGroup .Heading {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 8px;
}
.Section>.Content .PageNavigationLinkGroup .Heading .Text {
    display: inline;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    font-weight: bold;
}
.ScrollingContainer .Section .Instructions {
    margin: 0 0 10px 0;
    padding: 5px 0;
}
.Instructions {
    color: #666;
    font-size: 12px;
    line-height: 14px;
    margin: 0 10px 11px 10px;
    padding: 0 0 5px 0;
}
.oh{
    overflow: hidden;
}
.fl{
    float: left;
}