body {
    overflow: hidden;
}

body, input[type="text"], select, textarea {
    font-family: Arial,Helvetica,Tahoma,sans-serif;
}

#SiteNavigationBar {
    background-color: #fcfcfc;
    box-shadow: rgba(0,0,0,0.29) 0 3px 3px 0;
    height: 36px;
    left: 0;
    margin: 0 -3px;
    padding: 4px 33px;
    position: absolute;
    right: 0;
    top: 0;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 3;
}

    #SiteNavigationBar > .Left, #SiteNavigationBar > .Right {
        background-color: #fcfcfc;
        height: 36px;
        position: absolute;
        top: 4px;
        z-index: 4;
    }

    #SiteNavigationBar > .Left {
        left: 33px;
        width: 486px;
        z-index: 5;
    }

    #SiteNavigationBar > .Right {
        right: 33px;
    }
    /*左边*/
    #SiteNavigationBar > .Left > .Button.Logo {
        border: 1px solid #fcfcfc;
        cursor: pointer;
        display: inline-block;
        height: 34px;
        left: 0;
        position: absolute;
        width: 34px;
        z-index: 2;
    }

        #SiteNavigationBar > .Left > .Button.Logo > .Icon {
            background-image: url(../Images/navi.png);
            background-repeat: no-repeat;
            height: 28px;
            left: 3px;
            position: absolute;
            top: 3px;
            width: 28px;
        }

    #SiteNavigationBar > .Left > .Search {
        border: 1px solid #d7d7d7;
        border-right: none;
        display: inline-block;
        height: 34px;
        left: 46px;
        position: absolute;
        width: 159px;
    }

        #SiteNavigationBar > .Left > .Search > input[type="text"] {
            border: none;
            font-size: 16px;
            height: 24px;
            padding: 5px;
            width: 148px;
        }

    #SiteNavigationBar .ButtonGroup .Button.Search {
        cursor: pointer;
    }

    #SiteNavigationBar .ButtonGroup .Button:last-child {
        border-right: 1px solid #d7d7d7;
        padding-right: 6px;
    }

    #SiteNavigationBar .ButtonGroup .Button:first-child {
        border-left: 1px solid #d7d7d7;
        padding-left: 6px;
    }

    #SiteNavigationBar .ButtonGroup .Button {
        width: 22px;
    }

    #SiteNavigationBar .ButtonGroup .Button {
        height: 18px;
    }

    #SiteNavigationBar > .Left > .ButtonGroup.ExecuteSearch {
        left: 206px;
    }

    #SiteNavigationBar .ButtonGroup {
        position: absolute;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        #SiteNavigationBar .ButtonGroup .Button {
            border-bottom: 1px solid #d7d7d7;
            border-top: 1px solid #d7d7d7;
            color: #333;
            cursor: default;
            padding: 8px 7px;
            position: relative;
            z-index: 11;
        }

            #SiteNavigationBar .ButtonGroup .Button.HoverState, #SiteNavigationBar .ButtonGroup .Button.PressedState {
                background-color: #fff;
                border-bottom: none;
                border-left: 1px solid #d7d7d7;
                border-right: 1px solid #d7d7d7;
                padding: 8px 6px 9px 6px;
            }

        #SiteNavigationBar .ButtonGroup .Search .Icon {
            background: transparent url(../Images/Fangdaindex.png) no-repeat scroll;
            height: 22px;
        }

    #SiteNavigationBar > .Left > .ButtonGroup {
        left: 252px;
    }

    #SiteNavigationBar .ButtonGroup .PrimaryActionEnabled {
        float: left;
        cursor: pointer;
    }

.clear {
    overflow: hidden;
}

#SiteNavigationBar .ButtonGroup .Dashboard .Icon {
    background: transparent url(../Images/Listindex.png) no-repeat scroll;
    height: 22px;
}

#SiteNavigationBar .ButtonGroup .New .Icon {
    background: transparent url(../Images/Addindex.png) no-repeat scroll;
    height: 22px;
}

#SiteNavigationBar .ButtonGroup .My .Icon {
    background: transparent url(../Images/Myindex.png) no-repeat scroll;
    height: 22px;
}

#SiteNavigationBar .ButtonGroup .Recent .Icon {
    background: transparent url(../Images/Recentindex.png) no-repeat scroll;
    height: 22px;
}

#SiteNavigationBar .ButtonGroup .Bookmark .Icon {
    background: transparent url(../Images/Bookmarkindex.png) no-repeat scroll;
    height: 22px;
}

#SiteNavigationBar .ButtonGroup .Calendar .Icon {
    background: transparent url(../Images/Calendarindex.png) no-repeat scroll;
    height: 22px;
}
/*右边*/
#SiteNavigationBar > .Right > .User {
    height: 36px;
    position: absolute;
    right: 110px;
    text-align: right;
    width: 360px;
}

    #SiteNavigationBar > .Right > .User > .Name {
        padding-left: 10px;
    }

    #SiteNavigationBar > .Right > .User > .Name, #SiteNavigationBar > .Right > .User > .SignOut {
        background-color: #fcfcfc;
        display: inline-block;
        height: 22px;
        padding-top: 14px;
        position: relative;
        vertical-align: top;
    }

        #SiteNavigationBar > .Right > .User > .Name > a.Button.Link {
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    #SiteNavigationBar > .Right > .User a.Button.Link {
        color: #666;
        font-size: 10px;
        text-transform: uppercase;
    }

a.Button.Link {
    background: none;
    border: none;
    color: #376597;
    display: inline;
    font-size: 12px;
    height: auto;
    padding: 0;
    vertical-align: inherit;
}

a.Button {
    -ms-flex-align: center;
    align-items: center;
    background: #f0f0f0;
    background: -moz-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -webkit-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: -ms-linear-gradient(top,#fbfbfb 0,#f0f0f0 100%);
    background: linear-gradient(to bottom,#fbfbfb 0,#f0f0f0 100%);
    border: 1px solid #d7d7d7;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #4f4f4f;
    cursor: pointer;
    height: 24px;
    padding: 0 3px;
    position: relative;
    text-decoration: none;
}

#SiteNavigationBar > .Right > .User > .Separator {
    background-color: #fcfcfc;
    display: inline-block;
    height: 21px;
    padding: 15px 5px 0 5px;
    position: relative;
    width: 1px;
    vertical-align: top;
}

    #SiteNavigationBar > .Right > .User > .Separator > .VerticalBar {
        background-color: #666;
        display: inline-block;
        height: 10px;
        width: 1px;
    }

#SiteNavigationBar > .Right > .User > .SignOut {
    padding-right: 10px;
}

#SiteNavigationBar > .Right > .ButtonGroup {
    right: 0;
    width: 108px;
    white-space: nowrap;
}

#SiteNavigationBar .ButtonGroup .LiveLinks .Icon {
    background: transparent url(../Images/LiveLinksindex.png) no-repeat scroll;
    height: 22px;
}

#SiteNavigationBar .ButtonGroup .Community .Icon {
    background: transparent url(../Images/Communityindex.png) no-repeat scroll;
    height: 22px;
}

#SiteNavigationBar .ButtonGroup .Help .Icon {
    background: transparent url(../Images/Helpindex.png) no-repeat scroll;
    height: 22px;
}
/*一级菜单*/
.ContextOverlayContainer {
    display: inline;
}

#SiteNavigationBar .ContextOverlay {
    border: 1px solid #d7d7d7;
    box-shadow: rgba(0,0,0,0.29) 3px 3px 3px 0;
}

.ContextOverlay {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    box-shadow: rgba(0,0,0,0.24) 2px 2px 3px 0;
    display: none;
    font-size: 12px;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

#SiteNavigationBar .ContextOverlay > .Content .Title {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 3px;
    text-transform: uppercase;
}

.SiteNavigationFooterSeparator {
    border-bottom: 1px solid #e4e4e4;
    margin: 2px 0;
}

.ContextOverlay .ColumnSet {
    display: table-row;
}

    .ContextOverlay .ColumnSet .ContextOverlayColumn {
        display: table-cell;
    }

.ContextOverlay .Group > .Content > a.Button.Link {
    background: none;
    height: 22px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ContextOverlay .Group > .Content > a.Button {
    border: none;
    display: -ms-flexbox;
    display: flex;
    margin: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#SiteNavigationBar .Guide {
    display: table-row;
    margin: 0 -5px 0 -5px;
}

    #SiteNavigationBar .Guide > .ButtonContainer {
        background-color: #474747;
        padding: 0;
        position: relative;
    }

    #SiteNavigationBar .Guide > .ButtonContainer, #SiteNavigationBar .Guide > .ModuleContainer {
        display: table-cell;
    }

.ButtonContainer {
    padding: 0 10px 10px 10px;
    width: auto;
    height: 26px;
}

.Guide .Button.GuideNavigation.SelectedState {
    background: #fff;
    border-bottom-color: #fff;
    color: #333;
}

.Guide .Button.GuideNavigation {
    background: #474747;
    background: -moz-linear-gradient(top,#6b6b6b 0,#474747 100%);
    background: -webkit-linear-gradient(top,#6b6b6b 0,#474747 100%);
    background: -ms-linear-gradient(top,#6b6b6b 0,#474747 100%);
    background: linear-gradient(to bottom,#6b6b6b 0,#474747 100%);
    border-bottom: 1px solid #8a8a8a;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    max-width: 250px;
    padding: 0 50px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
/*二级菜单*/
#SiteNavigationBar .Guide > .ModuleContainer {
    height: 445px;
}

    #SiteNavigationBar .Guide > .ModuleContainer > .Module.Active {
        display: block;
    }

    #SiteNavigationBar .Guide > .ModuleContainer > .Module {
        display: none;
        padding: 0 5px;
    }

.ContextOverlay .ContextOverlayColumn > div {
    padding: 0 10px;
    min-width: 150px;
    max-width: 300px;
}

.ContextOverlay .Group {
    padding-bottom: 10px;
}

    .ContextOverlay .Group > .Heading {
        border-bottom: 1px solid #d3d3d3;
        margin-bottom: 2px;
    }

        .ContextOverlay .Group > .Heading > .Text {
            color: #333;
            font-weight: bold;
        }

        .ContextOverlay .Group > .Heading > .Text, .ContextOverlay .Group > .Heading > .SecondaryText {
            display: inline;
            font-size: 12px;
            line-height: 20px;
        }

    .ContextOverlay .Group > .Content > a.Button.NormalState {
        background: transparent;
    }

    .ContextOverlay .Group > .Content > a.Button.HoverState {
        background: #e9f0f8;
    }

    .ContextOverlay .Group > .Content > a.Button {
        border: none;
        display: -ms-flexbox;
        display: flex;
        margin: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .ContextOverlay .Group > .Content > a.Button .Text {
            font-weight: normal;
        }

a.Button > .Text {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    padding: 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.SearchRadioButton {
    padding-bottom: 5px;
    border: 1px solid transparent;
}

    .SearchRadioButton > input[type="radio"] {
        margin: 0;
    }

    .SearchRadioButton > input[type="radio"], .SearchRadioButton > label {
        cursor: pointer;
    }

input[type="checkbox"], input[type="radio"] {
    margin: 0;
    display: block;
    float: left;
    padding: 0;
    margin-right: 3px;
}

.SearchRadioButton > label {
    font-size: 12px;
    padding-left: 2px;
    vertical-align: top;
}
/*背景布*/
body #WorkspaceContainer {
    background-image: url(../Images/Linen.jpg);
}

body #WorkspaceContainer {
    background-color: #e4e4e4;
}

#WorkspaceContainer {
    background-repeat: repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 46px;
    z-index: 1;
}

#WorkspaceContainer > div {
    bottom: 0;
    left: 30px;
    position: absolute;
    right: 30px;
    top: 15px;
}
/*上面的tab切花项*/
#DashboardContainer > .DashboardTitleBar {
    border-bottom: 1px solid #adadad;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ThemePrimaryColor {
    background-color: #346a95;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer {
    height: 40px;
    left: 0;
    position: absolute;
    right: 65px;
    top: 0;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .DashboardTabButtonContainer {
    display: inline-block;
    height: 40px;
    position: relative;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .DashboardTabButtonContainer > .Button.SelectedState {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    color: #333;
    cursor: default;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .DashboardTabButtonContainer > .Button {
    max-width: 300px;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .Button, #DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .DashboardTabButtonContainer > .Button {
    background-color: #f2f2f2;
    color: #858585;
    cursor: pointer;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    margin: 10px 0 0 4px;
    overflow: hidden;
    padding: 0 7px;
    position: relative;
    text-overflow: ellipsis;
    touch-action: none;
    vertical-align: top;
    white-space: nowrap;
}

.Button {
    display: inline-block;
}



/*添加add加号*/
#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .Button.CreateDashboardTab {
    padding: 0;
    width: 24px;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .Button, #DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .DashboardTabButtonContainer > .Button {
    background-color: #f2f2f2;
    color: #858585;
    cursor: pointer;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    margin: 14px 0 0 4px;
    overflow: hidden;
    padding: 0 7px;
    position: relative;
    text-overflow: ellipsis;
    touch-action: none;
    vertical-align: top;
    white-space: nowrap;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .Button.CreateDashboardTab > .HorizontalLine {
    left: 7px;
    height: 2px;
    top: 12px;
    width: 10px;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .Button.CreateDashboardTab > .VerticalLine {
    left: 11px;
    height: 10px;
    top: 8px;
    width: 2px;
}

#DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .Button.CreateDashboardTab > .HorizontalLine, #DashboardContainer > .DashboardTitleBar > .DashboardButtonContainer > .Button.CreateDashboardTab > .VerticalLine {
    background-color: #858585;
    display: inline-block;
    position: absolute;
}

/*下面的内容项*/
#DashboardContainer > .DashboardTabContainer {
    background-color: #fff;
    bottom: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
    touch-action: none;
}

#DashboardContainer > .DashboardTabContainer > .ContentContainer {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: auto;
}

#DashboardContainer > .DashboardTabContainer > .ContentContainer, #DashboardContainer > .DashboardTabContainer > .LoadingIndicator, #DashboardContainer > .DashboardTabContainer > .TransitionContainer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#DashboardTabContainerContent {
    bottom: 0;
    position: absolute;
    top: 0;
}

#DashboardContainer > .DashboardTabContainer > .ContentContainer > div > .DashboardTab.AutoFlow {
    width: auto;
}

#DashboardContainer > .DashboardTabContainer > .ContentContainer > div > .DashboardTab {
    display: inline-block;
    padding: 7px;
    position: relative;
    width: 920px;
}

#WorkspaceContainer {
    background-repeat: repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 46px;
    z-index: 1;
} 

.cont {
    bottom: 0;
    left: 28px;
    position: absolute;
    right: 32px;
    top: 60px; 
    z-index: 1;
}

/*搜索*/
.ba {
    background: #F3F3F3 !important;
}
.jia {
    background: url(../Images/jia.png) no-repeat center !important;
}

.information {
    background: #fff;
    border: 1px solid #d3d3d3;
    position: relative;
    margin: 5px;
    padding: 5px 0;
}

.informationTitle {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.informationTitle i {
    width: 15px;
    height: 30px;
    display: block;
    background: url(../Images/jian.png) no-repeat center;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.information .Search {
    position: absolute;
    right: 5px;
    top: 7px;
}
.input-dh {
    position: relative;
}

    .input-dh .on {
        position: absolute;
        right: 10px;
        top: 5px;
    }

.icon-dh {
    background-image: url(../Images/data-selector.png) !important;
    background-position: 0 0 !important;
    width: 16px !important;
    height: 20px !important;
    cursor: pointer !important;
    background-repeat: no-repeat;
    display: block;
}

.add-on {
    position: relative;
}

.contenttitle ul {
    margin: 10px;
}

.contenttitle li {
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    border: 1px solid #bcbcbc;
    margin-right: 10px;
    background: linear-gradient(to bottom,#fff 0,#d7d7d7 100%);
}

    .contenttitle li span {
        margin-right: 10px;
    }

    .contenttitle li i {
        float: left;
        width: 26px;
        height: 26px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
    }
.CalendarContainer .Calendar table.DateContainer td:hover {
    background: #eaedf4;
    border: 0 solid #FFF;
    border-radius: 50%;
}
td.Overlap {
    color: #acb8cb;
}
.CalendarContainer .Calendar table.DateContainer td {
    cursor: pointer;
    height: 28px;
    text-align: center;
}
.CalendarContainer .Calendar table.DateContainer th, .CalendarContainer .Calendar table.DateContainer td {
    padding: 0;
    width: 28px;
}
    
    .CalendarContainer .Calendar table.DateContainer td.Today {
        color: #65b0ee;
    }
    .CalendarContainer .Calendar table.DateContainer td.Important {
        background: #65b0ee !important;
        border-radius: 50%;
        color: #FFF !important;
        opacity: .75;
    }
.CalendarContainer .Calendar .CalendarNavigation .Text {
    color: #000;
    font-size: 15px;
    font-weight: 800;
    left: 27px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 182px;
}
.CalendarContainer .Calendar .CalendarNavigation .Arrow.Left > span {
    border-left: 0;
    left: 15px;
}
.CalendarContainer .Calendar .CalendarNavigation .Arrow > span {
    border-color: #acb8cb;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-width: 6px 9px 6px 9px;
    height: 0;
    top: 12px;
    width: 0;
}
.CalendarContainer .Calendar .CalendarNavigation .Arrow.Right {
    right: 0;
}
.CalendarContainer .Calendar .CalendarNavigation .Arrow {
    height: 36px;
    width: 27px;
}
    .CalendarContainer .Calendar .CalendarNavigation .Arrow.Right > span {
        border-right: 0;
        right: 15px;
    }
.loading {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 999999;
    display: none;
}

.loadimg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 100px;
    margin-left: -85px;
    margin-top: -50px;
    text-align: center;
    border: 5px solid #BCBCBC;
    background: #E4E4E4;
    padding: 10px;
}

    .loadimg img {
        display: block;
        margin: 0 auto;
    }
