body {
    font-size: 12px;
    background: white;
    left: 0;
    position: relative;
    top: 0;
    overflow: visible;
    height: 100%;
}
.lblNormalClass {
    font-weight: 700;
    font-size: 12px;
    color: #4F4F4F;
}
.DataSelectorLinkIcon img {
    vertical-align: middle;
    margin-top: -16px;
    margin-left: 1px;
}
img {
    border: none;
}
input[type=text], select, textarea, input[type=password] {
    border: solid 1px #D7D7D7;
    font-size: 12px;
    color: #333;
    margin: 0;
}
input[type=text], input[type=password] {
    height: 24px;
    padding: 0 6px;
}
body, input[type="text"], select, textarea {
    font-family: Arial,Helvetica,Tahoma,sans-serif;
}
.txtBlack8Class {
    font-size: 12px;
    color: #333;
    font-weight: normal;
}
a:link, a:visited {
    color: #376597;
}
a:link, a:visited, a:active, a.blueLink:link, a.blueLink:visited, a.blueLink:active {
    color: #376597;
    font-size: 12px;
    text-decoration: none;
}
td {
    text-align: left;
}
.content td img {
    width: 16px;
    height: 16px;
    margin-top: -16px;
    display: inherit;
}
.content select{
    margin-left:0px;
}
.content textarea {
    margin-left: 0px;
}
.DivSectionWithHeader {
    border: 1px solid #d3d3d3;
    margin: 0 10px 10px 10px;
    padding: 4px 0 0 0;
}
    .DivSectionWithHeader .HeaderRow {
        position: relative;
        padding-bottom: 3px;
    }
    .DivSectionWithHeader > .HeaderRow > span {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    .DivSectionWithHeader > .HeaderRow > span {
        padding: 2px 4px 6px 6px;
        color: #666;
        height: 16px;
        font-size: 12px;
        font-weight: bold;
        line-height: 17px;
        text-transform: uppercase;
    }
    .DivSectionWithHeader .Content {
        padding: 0 28px 0 28px;
    }
        .DivSection div, .DivSectionWithHeader .Content div {
            padding-bottom: 10px;
        }
.TabLevelInstruction {
    margin: 12px 10px;
}
    .TabLevelInstruction span {
        font-size: 12px;
        color: #666;
        line-height: 16px;
    }
div#Page2Panel td {
    padding-bottom: 10px;
    vertical-align: top;
}
.FieldLevelInstruction {
    font-size: 11px;
    color: #666;
    line-height: 16px;
    font-weight: 100;
}
input[type=checkbox] {
    margin: 0 3px 0 0;
    padding-top: 1px;
}
div#Page2Panel td {
    padding-bottom: 10px;
    vertical-align: top;
}
input[type=radio] {
    margin-right: 3px;
    vertical-align: middle;
    margin-top: 0;
}
input[type=radio] {
    margin-top: -2px !important;
    width:auto;
}
.DateEditImage, .DateEditDisabledImage, .TimeEditImage, .TimeEditDisabledImage {
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 1px;
}
#Page2Panel label {
    text-align: left;
    width: 60px;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    height: 20px;
}
#chkActive label {
    text-align: left;
    width: 60px;
    font-size: 12px;
    color: #333;
    font-weight: normal;
}
.content label {
    width: 120px;
}

.CloseButton {
    background-image: url(../Images/delete.png);
    width: 16px;
    height: 16px;
    float: left;
}

.mytitle {
    margin-left: -620px;
}

.grid thead tr td {
    background-color: #cbd9e4;
    border-color: #98b4ca;
    color: #64727a;
}

.grid {
    font-size: 12px;
    background-color: #FFF;
}

    .grid thead td {
        border-width: 1px;
        border-style: solid;
        font-size: 13px;
        font-weight: bold;
        height: 19px;
        padding: 4px 4px 4px 4px;
        word-wrap: break-word;
        vertical-align: top;
    }

    .grid table {
        border-collapse: collapse;
        width: 100%;
        border-bottom-width: 1px;
        /*border-bottom-style: solid;*/
    }

    .grid tbody td {
        border-width: 1px;
        border-style: solid;
        border-left-color: #F8F8F8;
        border-right-color: #F8F8F8;
        border-top-color: #e8e8e8;
        border-bottom-width: 0;
        padding: 4px 4px 4px 4px;
        vertical-align: top;
        word-wrap: break-word;
        font-size: 12px;
        color: #333;
    }

.CkTitle {
    margin-left: 40px;
    float: left;
    margin-top: 5px;
}

.AddItemToTicketTopSection {
    color: #4F4F4F;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
    border: none;
}

.AddNoteTitleImage {
    background-image: url(../Images/TicketNoteIcon.png);
}

.Popup_TitleCell {
    height: 30px;
}

.AddItemToTicketTopSection td[class="Popup_TitleCell"] span {
    font-size: 16px;
    font-weight: Bold;
}

.Popup_Title {
    font-size: 19px;
    color: #4F4F4F;
}
.DivSection, .DivSectionOnly {
    border: 1px solid #d3d3d3;
    margin: 0 10px 10px 10px;
    padding: 12px 28px 4px 28px;
}
#pnlTab_7 label {
    font-size: 12px;
    text-align: left;
    float: none;
    font-weight: 500;
    display: inherit;
}
#ChooseList {
    background: #f0f5fb;
}
