
ul, ul li {
    margin: 0;
    padding: 0;
}
.header{
	height: 40px;
    line-height: 40px;
    width: 100%;
    background: #346A95;
    padding: 0 10px;
    font-size: 18px;
    color: #FFFFFF;
    }
.content table, td, th {
    border:none;
}
.content table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: #fff;
    float: left;
} 
.content th {
    font-weight: normal;
    background: none;
    height: auto;
} 
.content tr {
   
} 
.boders{border: 1px solid #000000;border-bottom: 1px solid #FFFFFF !important;}    
    
.header-title{width: 100%;padding:10px;width: auto;height: 26px;}

.header-title ul li i{width: 16px;height:16px;display: block;float: left;margin-top: 3px;margin-right: 5px;}


.boders {
    border: 1px solid #000000;
    border-bottom: 1px solid #FFFFFF !important;
}


    .header-title ul li {
        position: relative;
        height: 22px;
        line-height: 22px;
        padding: 0 10px;
        float: left;
        margin-right: 10px;
        border: 1px solid #CCCCCC;
        background: #F5F5F5;
        cursor: pointer;
    }

        .header-title ul li:hover ul {
            display: block;
        }

        .header-title ul li .icon-1 {
            width: 16px;
            height: 16px;
            display: block;
            float: left;
            margin-top: 3px;
            margin-right: 5px;
        }

        .header-title ul li .icon-2 {
            width: 10px;
            height: 10px;
            display: block;
            float: right;
            margin-top: 5px;
            margin-left: 10px;
        }

        .header-title ul li ul {
            display: none;
            position: absolute;
            left: 0;
            top: 22px;
            border: 1px solid #CCCCCC;
            background: #F5F5F5;
            width: 150px;
            padding: 15px 10px;
            z-index: 99;
        }

            .header-title ul li ul li {
                float: none;
                border: none;
            }

                .header-title ul li ul li:hover {
                    background: #E5E5E5;
                }


.nav-title{}
.nav-title ul{border-bottom: 1px solid #000000;padding:10px 0 0 10px;}
.nav-title ul li{background: #e5e5e5;float: left;margin-right: 10px;padding: 5px 10px;margin-bottom: -1px;cursor: pointer;}
.content{padding-top: 15px;}
.content th h1{color: #4F4F4F;font-size: 12px;height: 14px;text-align: left;width:45%;text-align: right;} 
.content th p{color: red;font-size: 12px;height: 14px;text-align: left;width:45%;text-align: right;} 
.content td h1{color: #4F4F4F;font-size: 12px;height: 14px;text-align: left;width:45%;text-align: right;} 
.content td img{width: 200px;height: 200px;display:block;} 
.content td .Change{color: #376597;text-decoration: none;display:block;} 
.content label{display:inline-block;color: #151515;font-size:14px;width:170px;text-align: right;height: 30px;line-height: 30px;position: relative;
float: left;overflow: hidden;}
.content label .red{color: red ;  vertical-align: super; position: absolute;right: -10px;top: 0;}
.content label .num{color: #666666;font-size: 12px;  vertical-align: super; }
.content input{float: left;width:190px;margin-left: 15px;}
.content select{float: left;width:204px;height:28px;line-height: 28px;margin-left: 15px;}
.content .selectTwo{float: left;width:205px;height:28px;line-height: 28px;margin-left:15px;}
.content .selectTwo select{float: left;width:45%;height:28px;line-height: 28px;margin: 0;}
.content .selectTwo span{float: left;margin: 0 6px;}
.content .inputTwo{float: left;width:205px;height:28px;line-height: 28px;margin-left:15px;}
.content .inputTwo input{float: left;width:80px;margin: 0;}
.content .inputTwo span{float: left;margin: 0 6px;}
.content input[type=checkbox]{width:auto;height:auto;margin-top: 4px;margin-left: 5%;}
.text {
    line-height: 30px;
    padding: 0 20px;
    text-align: left;
    color: #666;
    margin-left: 10px;
}

.savecontent table, .savecontent td, .savecontent th {
    border: 1px solid #98b4ca;
}

.savecontent th {
    height: 28px;
    line-height: 28px;
}

.savecontent table th:first-child, .savecontent table td:first-child {
    width: 30px;
}

.savecontent input[type=checkbox] {
    margin-left: 30%;
}

.warn {
    background: #FFFFCC url(../Images/alert.png) no-repeat left center;
}



























