ul,ul li{margin: 0;padding: 0;}
@font-face {
	font-family:'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.svg);
	src: url(../fonts/glyphicons-halflings-regular.ttf);
	src: url(../fonts/glyphicons-halflings-regular.woff);
}
.header{height: 40px;line-height: 40px;background: #346A95;padding: 0 10px;font-size: 18px;color: #FFFFFF;}
.content table, td, th {border:none;}
.content table {border-collapse: collapse;border-spacing: 0;width: 100%;background: #fff;float: left;} 
.content th {font-weight: normal;background: none;height: auto;} 
.content tr {} 
.boders{border: 1px solid #000000;border-bottom: 1px solid #FFFFFF !important;}    
.header-title{width: 100%;margin:10px;width: auto;height: 30px;}
.header-title ul li{position: relative;height:27px;line-height:27px; padding: 0 10px;float: left;margin-right: 10px;border: 1px solid #CCCCCC;cursor:pointer;background: linear-gradient(to bottom,#fff 0,#d7d7d7 100%);}
.header-title ul li input{height:28px;line-height:28px;}
.header-title ul li:hover ul{display: block;}
.header-title ul li .icon-1{width: 16px;height:16px;display: block;float: left;margin-top: 7px;margin-right: 5px;}
.header-title ul li .icon-2{width: 10px;height:10px;display: block;float: right;margin-top:8px;margin-left:10px;}
.header-title ul li ul{display: none; position:absolute; left: -1px;top: 28px;border: 1px solid #CCCCCC;background: #F5F5F5;width:160px;padding: 10px 0;z-index: 99;}
.header-title ul li ul li{float: none;border: none;background: #F5F5F5;height:28px;line-height:28px;}
.header-title ul li input{outline:none; border: none;background: linear-gradient(to bottom,#fff 0,#d7d7d7 100%);}
.header-title ul li ul li:hover{background: #E5E5E5;}

.nav-title{}
.nav-title ul{border-bottom: 1px solid #ccc;padding:10px 0 0 10px;}
.nav-title ul li{background: linear-gradient(to bottom,#d7d7d7 0,#f1f1f1 100%);float: left;margin-right: 10px;padding: 5px 10px;margin-bottom: -1px;cursor: pointer;}
.content{padding: 15px 0;width: 100%;}
.content th h1{color: #4F4F4F;font-size: 12px;height: 14px;text-align: left;width:45%;text-align: right;} 
.content th p{color: red;font-size: 12px;height: 14px;text-align: left;width:45%;text-align: right;} 
.content td h1{color: #4F4F4F;font-size: 12px;height: 14px;text-align: left;width:45%;text-align: right;} 
.content td img{width: 200px;height: 200px;display:block;margin:0 auto;} 
.content td .Change{color: #376597;text-decoration: none;display:block;} 
.content label{display:inline-block;color: #151515;font-size:14px;width:170px;text-align: right;height: 30px;line-height: 30px;
position: relative;
float: left;overflow: hidden;}
.content label .red{color: red ; right: -10px;top: 0;} /*position: absolute;*/
.content label .num{color: #666666;font-size: 12px;  vertical-align: super; }
.content input{float: left;width:180px;margin-left:15px;height:30px;line-height:30px;}
.content textarea{float: left;width:180px;margin-left:15px;resize:none;height: 100px;}
.content select{float: left;width:180px;height:30px;line-height: 30px;margin-left:15px;}
.content .selectTwo{float: left;width:50%;height:30px;line-height:30px;margin-left:15px;}
.content .selectTwo select{float: left;width:82px;height:30px;line-height: 30px;margin: 0;}
.content .selectTwo span{float: left;margin: 0 5px;}
.content .inputTwo{float: left;width:195px;height:30px;line-height:30px;margin-left:15px;}
.content .inputTwo input{float: left;width:82px;margin: 0;}
.content .inputTwo span{float: left;margin: 0 5px;}
.content input[type=checkbox]{width:auto;height:auto;margin-top:10px;margin-left:15px;}
.text {line-height: 30px;padding: 0 20px;text-align: left;color: #666;margin-left:10px;}
.content .savetable input[type=checkbox]{width:auto;height:auto;margin-top:0px;float: none;margin-left: auto;}
.savecontent table,.savecontent td,.savecontent th{ border:1px solid #98b4ca;}
.savecontent th{height: 30px;line-height: 30px;}
.savecontent table th:first-child,.savecontent table td:first-child{width:30px ;}
.savecontent input[type=checkbox]{margin-left: 30%;}
.warn{background:#FFFFCC url(../Images/alert.png) no-repeat left center;}

.ms-drop input[type="checkbox"] {vertical-align: middle;float: left;}
.ms-parent {display: inline-block;position: relative;vertical-align: middle; }
.ms-drop ul > li label {font-weight: normal;display: block;white-space: nowrap; width: auto;float: none;text-align: left;overflow:hidden;}
.multiplebox{width: 180px;margin-left: 15px;float: left;}

.header i{width: 40px;height: 30px;display: block;background:#F5F5F5 url(../Images/ico_page_menu.png) no-repeat center;float: left;
margin-top: 5px;margin-right:10px;cursor: pointer;}
.header i:hover ul{display: block;}
.header i ul{min-width:160px;padding: 15px 10px;background: #F5F5F5;margin-top: 30px;position: relative;display: none;z-index: 99;}
.header i ul li{color: #333;font-size: 12px;padding: 0 5px;height:28px;line-height:28px;}
.header i ul li:hover{background: #E5E5E5;padding: 0 5px;}
.savecontent{width: 1220px;}
.activityTitleleft{width: 250px;}
.activityTitleleft h1{font-size: 15px;font-weight: bolder;color: #4F4F4F;}
.address{    background-color: #F0F5FB;border: 1px solid #d3d3d3;margin: 0 10px 10px 0;padding: 10px 4px 4px 0;padding-left: 10px; }
    
.address p{font-weight: bold;color: #4F4F4F;margin: 0;font-size: 12px;}
.address p img{padding-left: 5px;}
.address p a{ color: #376597;    text-decoration: none;font-size: 12px;}   
.viewleftTitle1{ margin: 0 10px 10px 0;padding: 10px 4px 4px 0;padding-left: 10px; font-size: 12px;}
.viewleftTitle1 p{font-size: 12px;margin: 0;}
.viewleftTitle1 span{display: block;width:49%;text-align: left;font-size: 12px;}
.viewleftTitle1 p a{ color: #376597;    text-decoration: none;font-size: 12px;display: inline-block;}
.viewleftTitle1hr{margin: 0;height: 2px;clear: both;border: none;border-top: 1px solid #d3d3d3;}
.activityTitleright{margin-left: 20px;width: 920px;}
.NewRootNote{width: 420px;height: 65px;color: #AEAEAE;border: solid 1px #D7D7D7;}
.NewRootNote textarea{	width: 420px;height: 63px;margin: 0;padding: 0;border: 0;resize: none;overflow-y: scroll;padding: 10px;}
.null{height: 60px;}
.add{margin-top: 15px;width: 420px;}
.add span{float: left;}
.add input{float: right;width: auto;margin-left: 10px;padding: 0 10px;}
.add select{float: right;width: 175px;}
.checkboxs{width:420px;}
.checkboxs label{margin: 0;width: auto;}
.checkboxs input[type=checkbox]{margin:10px 0 0 20px ;width: auto;}
.checkboxs div{float: left;width: 130px;margin-right: 10px;}
.addselect{width: 420px;margin: 15px 0;}
.addselect label{width:auto;}
.addselect select{width: 115px;}
.activityTitlerighthr{margin: 0;height: 2px;clear: both;border: none;border-top: 1px solid #d3d3d3;}
.Opportunity{width: 50px;height: 50px;margin: 0 10px 6px 0;}
.PostContent{display: table-cell;   vertical-align: top;}
.PostContent a{color: #376597;font-size: 12px;margin-right: 5px;}
.PostContent h1{color: #333;font-size: 12px;height: 16px;line-height: 16px;margin: 0;padding: 0;}
.PostContent p{color: #666;font-size: 12px;height: 16px;line-height: 16px;margin: 0;padding: 0;}
.EntityFeedLevebottom{min-height: 50px;margin-bottom: 10px;padding: 10px 0 3px 10px;background-color: #F2F2F2;margin-left: 60px;border: 1px solid #E4E4E4; margin-right: 10px;}
.EntityFeedLevebottom .profile{width: 32px;height: 32px;margin: 0 10px 6px 0;}
.noteText span{display:block;float: none;margin: 0;padding: 0;}
.noteText span a{margin: 0 5px;}
.noteText .spanA a{color: gray;font-size: 12px;}
.EntityFeedLevebottom2{margin-left: 100px;}

/*ËÑË÷ÁÐ±í*/
.searchcontent{min-width: 1200px;overflow: scroll;}
.searchcontent::-webkit-scrollbar{width:0px;opacity:0; -webkit-overflow-scrolling: touch;}
.searchcontent table{border:1px solid #98b4ca;}
.searchcontent table tr{text-align: center;}
.searchcontent table th{ background-color: #cbd9e4;border-color: #98b4ca;color: #64727a;height: 28px;}
.searchcontent table td {padding: 4px 4px 4px 4px;vertical-align: top;word-wrap: break-word;font-size: 12px;color: #333;height: 28px;cursor: pointer;}
    .searchcontent table tr {
        border-left: 1px solid #f9f9ee;
        border-right: 1px solid #f9f9ee;
        border-top: 1px solid #e8e8fa;
        border-bottom: 1px solid #e8e8fa;
    }
    .searchcontent table td, .searchcontent table th {
        border-left: 1px solid #f9f9ee;
        border-right: 1px solid #f9f9ee;
        border-top: 1px solid #e8e8fa;
        border-bottom: 1px solid #e8e8fa;
    }
     .searchcontent table td, .searchcontent table th, .searchcontent table tr:first-child{border-left:transparent}
.searchcontent table tr:hover {background: #e0e3e4;}
.searchcontent table .firstwidth{width:30px ;}

/*ÓÒ¼ü²Ëµ¥*/
#menu { position: absolute;z-index: 999;display: none;}
#menu ul{margin: 0 ;padding: 0;position: relative;width: 150px;border: 1px solid gray;background-color: #F5F5F5;padding: 10px 0;}
#menu ul li{padding-left: 20px;height: 25px;line-height: 25px;cursor:pointer;}
#menu ul li ul {display: none; position: absolute;right:-150px;top: -1px;background-color: #F5F5F5;min-height: 90%;}
#menu ul li ul li:hover{background: #e5e5e5;}
#menu ul li:hover{background: #e5e5e5;}
#menu ul li:hover ul {display: block;}
#menu ul li .menu-i1{width: 20px;height: 100%;display: block;float: left;}
#menu ul li .menu-i2{width: 20px;height: 100%;display: block;float: right;}
#menu ul .disabled{color: #AAAAAA;}

/*findone*/
.findinput{margin-top: 10px;    padding: 0 10px 10px 10px;}
.findinput input[type=text]{width: 90%;height: 22px;line-height: 22px;float:left;margin: 0;padding: 0 0 0 10px;}
.findinput .search{display: block; width: 30px;height: 24px;float:left;background: url(../Images/search.png) no-repeat center center;
border: 1px solid #a9a9a9;border-left:none ;}
.grid a{color: #376597;text-decoration: none;font-size: 12px;}

/*opportunity特殊显示*/
.opportunityWidgetMediumHigh{border: 5px solid #8DC63F;border-top:none ;width: 240px;margin-bottom:10px ;}
.opportunityWidgetMediumHigh h2{background: #8DC63F; font-size: 12px;text-align: center;height: 20px;line-height: 20px; margin: 0;padding: 0;}
.opportunityWidgetMediumHigh h3 {  margin: 0;padding: 0;}
.opportunityWidgetMediumHigh h3 p{ font-size: 12px;text-align: center; line-height: 20px;margin: 0;padding: 3px 0;}
.opportunityWidgetMediumHigh2{border: 5px solid #FF0000;}
.opportunityWidgetMediumHigh2 h2{background: #FF0000;}
.opportunityaddress{padding-left: 30px;}
.opportunityaddress .switch{margin-bottom: 5px;}
.opportunityaddress .switch .switchicon{width:15px;height:20px;display: block;position: absolute;top:-3px;left: -20px;
 cursor: pointer;}
.opportunityaddress .switch .switchicon1{background:url(../Images/jian.png) no-repeat center;}
.opportunityaddress .switch .switchicon2{background:url(../Images/jia.png) no-repeat center;}
.allswitch{height: 18px;overflow: hidden; }
    
/*分页*/
.page{height: 26px;line-height: 26px; margin: 15px 0;float: right;}
.page span{margin-right: 10px;}
.page span a{margin:0 5px;}
.page i{display:inline-block;cursor: pointer;text-align: center;padding: 0 5px;}
.page i:hover{background: #ddd;}
.page select{padding: 0 20px 0 10px;margin: 0 10px;}
   
.clear{overflow:hidden;}
img,i{
    cursor:pointer;
}


















