<configuration>
  <components>
    <component id='Cached' service='EMT.Tools.ICacheder,EMT.Tools' type='EMT.Tools.RedisCacheder,EMT.Tools' />    
    <component id='Serialize' service='EMT.Tools.ISerialize,EMT.Tools' type='EMT.Tools.Serialize,EMT.Tools' />
    <component id='Cryptographys' service='EMT.Tools.ICryptographys,EMT.Tools' type='EMT.Tools.Cryptographys,EMT.Tools' />
    <component id='HttpHelper' service='EMT.Tools.IHttpOp,EMT.Tools' type='EMT.Tools.HttpOp,EMT.Tools' />
    <component id='FileOp' service='EMT.Tools.IFileOp,EMT.Tools' type='EMT.Tools.FileOp,EMT.Tools' />
    <component id='RegexOp' service='EMT.Tools.IRegexOp,EMT.Tools' type='EMT.Tools.RegexOp,EMT.Tools' />
    <component id='Captcha' service='EMT.Tools.ICaptcha,EMT.Tools' type='EMT.Tools.Captcha,EMT.Tools' />
  </components>
</configuration>



